@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Contract Monthly Claim System</h1>
    <br />
    <p>Your solution for submitting and approving monthly claims for Independent Contractor lecturers.</p>
    <hr />

        <h2>Hello!</h2>
        <p>Please use the navigation bar above to access your specific functionalities.</p>
</div>